<a href="https://colab.research.google.com/github/GuilhermeNishio/sumarizacoes_CadUnico/blob/main/fx_renda_cad_jul2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importando bibliotecas

In [ ]:
import pandas as pd
import numpy as np

Conectando Drive para leitura dos arquivos

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Lendo cada arquivo

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_0_5_anos_jul22.csv', sep = ",")
df2 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_6_11_anos_jul22.csv', sep = ",")
df3 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_12_14_anos_jul22.csv', sep = ",")
df4 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_15_17_anos_jul22.csv', sep = ",")
df5 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_18_25_anos_jul22.csv', sep = ",")
df6 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_26_29_anos_jul22.csv', sep = ",")
df7 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_30_40_anos_jul22.csv', sep = ",")
df8 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_41_55_anos_jul22.csv', sep = ",")
df9 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_56_59_anos_jul22.csv', sep = ",")
df10 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_60_64_anos_jul22.csv', sep = ",")
df11 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/Geo_Faixa_Etaria_65_anos_mais_jul22.csv', sep = ",")

Juntando arquivos num Ãºnico dataframe

In [ ]:
frames = [df1, df2, df3,df4, df5, df6,df7, df8, df9, df10, df11]
df = pd.concat(frames)
df.head()

,COD_FAMILIAR_FAM,NUM_MEMBRO_FMLA,COD_EST_CADASTRAL_MEMB,IND_TRABALHO_INFANTIL_PESSOA,NOM_PESSOA,NUM_NIS_PESSOA_ATUAL,COD_SEXO_PESSOA,DTA_NASC_PESSOA,IDADE,COD_RACA_COR_PESSOA,DISTRITO,SUBPREFEITURA,SAS,CRAS,POP_RUA
0,6217222,262315965,3,2,FRANCISCO ENZO GABRIEL DO NASCIMENTO SOUSA,23834407174,1,09/07/2018,4,1,CAMPO LIMPO,CAMPO LIMPO,CAMPO LIMPO,CRAS CAMPO LIMPO,NaN
1,9015124,276644131,3,2,PEDRO HENRIQUE MOREIRA SILVA,23883530219,1,06/08/2019,2,4,SAO DOMINGOS,PIRITUBA,PIRITUBA,CRAS PIRITUBA,NaN
2,10520040,280267503,3,2,ANA VITORIA SOUSA DOS SANTOS,21295682925,2,22/12/2019,2,1,VILA GUILHERME,VILA MARIA_VILA GUILHERME,VILA MARIA_VILA GUILHERME,CRAS VILA MARIA,NaN
3,11870583,267495500,3,2,MARIA EDUARDA SOUZA NEVES,23851918440,2,15/11/2018,3,1,SAPOPEMBA,SAPOPEMBA,SAPOPEMBA,CRAS SAPOPEMBA,NaN
4,15080242,291481091,3,2,GAEL REIS BERNARDO,21336767067,1,05/08/2020,1,4,SACOMA,IPIRANGA,IPIRANGA,CRAS IPIRANGA,NaN

SegmentaÃ§Ã£o das faixas etÃ¡rias

In [ ]:
labels = ['0 a 1', '2 a 3', '4 a 6', '6 a 11', '12 a 14', '15 a 17', '18 a 25', '26 a 29', '30 a 40', '41 a 55', '56 a 59', '60 a 64', '65 ou mais']
bins = [-float('inf'), 1,3,6,11,14,17,25,29,40,55,59,64, float('inf')]
df['faixa_etÃ¡ria'] = pd.cut(df['IDADE'], bins = bins, labels = labels)
df.head(15)

,COD_FAMILIAR_FAM,NUM_MEMBRO_FMLA,COD_EST_CADASTRAL_MEMB,IND_TRABALHO_INFANTIL_PESSOA,NOM_PESSOA,NUM_NIS_PESSOA_ATUAL,COD_SEXO_PESSOA,DTA_NASC_PESSOA,IDADE,COD_RACA_COR_PESSOA,DISTRITO,SUBPREFEITURA,SAS,CRAS,POP_RUA,faixa_etÃ¡ria
0,6217222,262315965,3,2,FRANCISCO ENZO GABRIEL DO NASCIMENTO SOUSA,23834407174,1,09/07/2018,4,1,CAMPO LIMPO,CAMPO LIMPO,CAMPO LIMPO,CRAS CAMPO LIMPO,NaN,4 a 6
1,9015124,276644131,3,2,PEDRO HENRIQUE MOREIRA SILVA,23883530219,1,06/08/2019,2,4,SAO DOMINGOS,PIRITUBA,PIRITUBA,CRAS PIRITUBA,NaN,2 a 3
2,10520040,280267503,3,2,ANA VITORIA SOUSA DOS SANTOS,21295682925,2,22/12/2019,2,1,VILA GUILHERME,VILA MARIA_VILA GUILHERME,VILA MARIA_VILA GUILHERME,CRAS VILA MARIA,NaN,2 a 3
3,11870583,267495500,3,2,MARIA EDUARDA SOUZA NEVES,23851918440,2,15/11/2018,3,1,SAPOPEMBA,SAPOPEMBA,SAPOPEMBA,CRAS SAPOPEMBA,NaN,2 a 3
4,15080242,291481091,3,2,GAEL REIS BERNARDO,21336767067,1,05/08/2020,1,4,SACOMA,IPIRANGA,IPIRANGA,CRAS IPIRANGA,NaN,0 a 1
5,17192200,245902820,3,2,ENZO DANIEL DA SILVA,23770424316,1,30/11/2016,5,2,SACOMA,IPIRANGA,IPIRANGA,CRAS IPIRANGA,NaN,4 a 6
6,21683328,263923067,3,2,RENAN BATISTA LIMA,23840107594,1,13/09/2017,4,4,GRAJAU,CAPELA DO SOCORRO,CAPELA DO SOCORRO,CRAS GRAJAU,NaN,4 a 6
7,21683328,299668491,3,2,GABRIEL BATISTA LIMA,21364548099,1,28/02/2019,3,1,GRAJAU,CAPELA DO SOCORRO,CAPELA DO SOCORRO,CRAS GRAJAU,NaN,2 a 3
8,27546578,281998007,3,2,LEANDRA ESMERALDA LOPES TOMAZ SILVA,21301065848,2,12/06/2018,4,4,ARTUR ALVIM,PENHA,PENHA,CRAS ARTUR ALVIM,NaN,4 a 6
9,30084288,242965463,3,2,FELIPE GABRIEL ARAUJO DE OLIVEIRA,23756388235,1,05/09/2016,5,4,LIBERDADE,SE,SE,CRAS SE,NaN,4 a 6
10,32586450,273211107,3,2,ANA JULIA DOS SANTOS BALBINO,23872008575,2,25/01/2018,4,4,VILA GUILHERME,VILA MARIA_VILA GUILHERME,VILA MARIA_VILA GUILHERME,CRAS VILA MARIA,NaN,4 a 6
11,32807562,250751820,3,2,ALICE SANTOS LEAL,23791255181,2,27/09/2016,5,4,JARDIM ANGELA,MBOI MIRIM,MBOI MIRIM,CRAS JARDIM ANGELA,NaN,4 a 6
12,32816553,266945999,3,2,MARIA LUISA DA SILVA,23850202972,2,24/10/2018,3,1,VILA JACUI,SAO MIGUEL,SAO MIGUEL,CRAS SAO MIGUEL,NaN,2 a 3
13,34380310,249823674,3,2,MARIA HELLENA MEDEIROS CIRQUEIRA,23787141800,2,01/06/2017,5,1,VILA CURUCA,ITAIM PAULISTA,ITAIM PAULISTA,CRAS VILA CURUCA,NaN,4 a 6
14,36956546,299966865,3,0,BRUNO EMANUEL DE JESUS SOUZA,21365563369,1,13/05/2021,1,4,LAPA,LAPA,LAPA,CRAS LAPA,NaN,0 a 1

Inserindo dados de faixa de renda no df com um join com outra tabela de faixa de renda por famÃ­lia

In [ ]:
# Criando df_fam com tabela de faixa de renda das famÃ­lias

df_fam1 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/FamÃ­lias/GEO_JULHO_pt1_822300_FINAL.csv', sep = ";")
df_fam2 = pd.read_csv('/content/drive/MyDrive/Cad/jul22/FamÃ­lias/GEO_JULHO_pt2_820238_FINAL.csv', sep = ";")
df_fam = pd.concat([df_fam1, df_fam2])
df_fam    


# Join das tabelas para inserir coluna de faixa de renda no df principal
df = df.merge(df_fam[['COD_FAMILIAR_FAM','FAIXA DE RENDA','VALOR_PAB', 'VLR_RENDA_MEDIA_FAM']], on = 'COD_FAMILIAR_FAM')

Agregando contagem por distritos

In [ ]:
# Mulheres por raÃ§a e faixa de renda
ordem = ["EXTREMA POBREZA", "POBREZA", "BAIXA RENDA", "ACIMA DE MEIO SALÃRIO MÃNIMO"]
raÃ§a_fx_renda = pd.pivot_table(data = df, values = ['NUM_MEMBRO_FMLA'], columns = ['COD_RACA_COR_PESSOA', 'FAIXA DE RENDA'], index = ['DISTRITO'], aggfunc= 'count')
fem_raÃ§a_fx_renda = pd.pivot_table(data = df[df.COD_SEXO_PESSOA == 2], values = ['NUM_MEMBRO_FMLA'], columns = ['COD_RACA_COR_PESSOA', 'FAIXA DE RENDA'], index = ['DISTRITO'], aggfunc= 'count')
masc_raÃ§a_fx_renda = pd.pivot_table(data = df[df.COD_SEXO_PESSOA == 1], values = ['NUM_MEMBRO_FMLA'], columns = ['COD_RACA_COR_PESSOA', 'FAIXA DE RENDA'], index = ['DISTRITO'], aggfunc= 'count')

NameError: ignored

In [ ]:
fx_etaria_raÃ§a = pd.pivot_table(data = df, values = ['NUM_MEMBRO_FMLA'], index = ['DISTRITO'], columns = ['COD_RACA_COR_PESSOA','faixa_etÃ¡ria'], aggfunc= 'count')
fx_etaria_raÃ§a_m = df[df.COD_SEXO_PESSOA==1].pivot_table(values = ['NUM_MEMBRO_FMLA'], index = ['DISTRITO'], columns = ['COD_RACA_COR_PESSOA','faixa_etÃ¡ria'], aggfunc= 'count')
fx_etaria_raÃ§a_f = df[df.COD_SEXO_PESSOA==2].pivot_table(values = ['NUM_MEMBRO_FMLA'], index = ['DISTRITO'], columns = ['COD_RACA_COR_PESSOA','faixa_etÃ¡ria'], aggfunc= 'count')

fx_etaria_raÃ§a_m

                    NUM_MEMBRO_FMLA                                     \
COD_RACA_COR_PESSOA               0
faixa_etÃ¡ria                  0 a 1 2 a 3 4 a 6 6 a 11 12 a 14 15 a 17
DISTRITO
AGUA RASA                         0     0     0      0       0       0
ALTO DE PINHEIROS                 0     0     0      0       0       0
ANHANGUERA                        0     0     0      0       0       0
ARICANDUVA                        0     0     0      0       0       0
ARTUR ALVIM                       0     0     0      0       0       0
...                             ...   ...   ...    ...     ...     ...
VILA MARIANA                      0     0     0      0       0       0
VILA MATILDE                      0     0     0      0       0       0
VILA MEDEIROS                     0     0     0      0       0       0
VILA PRUDENTE                     0     0     0      0       0       0
VILA SONIA                        0     0     0      0       0       0

                                                     ...                 \
COD_RACA_COR_PESSOA                                  ...      5
faixa_etÃ¡ria        18 a 25 26 a 29 30 a 40 41 a 55  ... 6 a 11 12 a 14
DISTRITO                                             ...
AGUA RASA                 1       0       1       0  ...      1       0
ALTO DE PINHEIROS         0       0       0       0  ...      0       0
ANHANGUERA                0       3       1       2  ...      0       0
ARICANDUVA                0       1       1       2  ...      0       1
ARTUR ALVIM               0       1       0       1  ...      1       0
...                     ...     ...     ...     ...  ...    ...     ...
VILA MARIANA              0       0       0       0  ...      1       0
VILA MATILDE              0       2       3       0  ...      0       0
VILA MEDEIROS             0       4       0       2  ...      4       1
VILA PRUDENTE             0       3       0       0  ...      0       0
VILA SONIA                0       1       2       1  ...      2       0

                                                                             \
COD_RACA_COR_PESSOA
faixa_etÃ¡ria        15 a 17 18 a 25 26 a 29 30 a 40 41 a 55 56 a 59 60 a 64
DISTRITO
AGUA RASA                 1       2       2       2       1       1       0
ALTO DE PINHEIROS         0       0       0       0       0       0       0
ANHANGUERA                1       1       1       2       1       0       0
ARICANDUVA                0       1       0       2       0       0       0
ARTUR ALVIM               1       3       1       0       1       1       0
...                     ...     ...     ...     ...     ...     ...     ...
VILA MARIANA              1       0       0       0       2       0       0
VILA MATILDE              0       1       0       1       1       1       0
VILA MEDEIROS             1       2       4       8       3       0       0
VILA PRUDENTE             0       0       0       0       0       0       1
VILA SONIA                0       1       0       2       3       0       0


COD_RACA_COR_PESSOA
faixa_etÃ¡ria        65 ou mais
DISTRITO
AGUA RASA                    0
ALTO DE PINHEIROS            0
ANHANGUERA                   0
ARICANDUVA                   0
ARTUR ALVIM                  0
...                        ...
VILA MARIANA                 0
VILA MATILDE                 0
VILA MEDEIROS                3
VILA PRUDENTE                0
VILA SONIA                   0

[96 rows x 78 columns]

Tabelas por sexo

In [ ]:
fx_etaria_masc = df[df.COD_SEXO_PESSOA==1].pivot_table(values = ['NUM_MEMBRO_FMLA'], index = ['DISTRITO'], columns = ['faixa_etÃ¡ria'], aggfunc= 'count')
fx_etaria_masc

                  NUM_MEMBRO_FMLA                                             \
faixa_etÃ¡ria                0 a 1 2 a 3 4 a 6 6 a 11 12 a 14 15 a 17 18 a 25
DISTRITO
AGUA RASA                     110   227   359    646     357     365     757
ALTO DE PINHEIROS               3     8    34     62      38      30      71
ANHANGUERA                    393   769  1354   2004    1059    1131    2134
ARICANDUVA                    207   461   761   1141     620     615    1354
ARTUR ALVIM                   266   528   982   1539     856     839    1818
...                           ...   ...   ...    ...     ...     ...     ...
VILA MARIANA                   33    72   162    229     118     121     328
VILA MATILDE                  175   334   684   1023     557     534    1181
VILA MEDEIROS                 417   888  1466   2253    1208    1109    2140
VILA PRUDENTE                 213   394   625    998     555     577    1058
VILA SONIA                    225   463   786   1177     663     631    1191


faixa_etÃ¡ria      26 a 29 30 a 40 41 a 55 56 a 59 60 a 64 65 ou mais
DISTRITO
AGUA RASA             289     765    1015     250     277        889
ALTO DE PINHEIROS      31      82      90      27      28        120
ANHANGUERA            671    1633    2073     457     453        803
ARICANDUVA            450     987    1466     384     470       1334
ARTUR ALVIM           602    1502    1952     474     562       1535
...                   ...     ...     ...     ...     ...        ...
VILA MARIANA          152     287     429     110     118        491
VILA MATILDE          461     990    1324     388     410       1243
VILA MEDEIROS         805    2034    2189     546     698       1942
VILA PRUDENTE         408     963    1259     287     394        979
VILA SONIA            410    1008    1188     252     283        823

[96 rows x 13 columns]

In [ ]:
fx_etaria_fem = df[df.COD_SEXO_PESSOA==2].pivot_table(values = ['NUM_MEMBRO_FMLA'], index = ['DISTRITO'], columns = ['faixa_etÃ¡ria',], aggfunc= 'count')

fx_etaria_fem

                  NUM_MEMBRO_FMLA                                             \
faixa_etÃ¡ria                0 a 1 2 a 3 4 a 6 6 a 11 12 a 14 15 a 17 18 a 25
DISTRITO
AGUA RASA                     119   262   387    613     342     322     942
ALTO DE PINHEIROS               9    25    37     81      30      39     104
ANHANGUERA                    398   792  1263   2007    1153    1025    2892
ARICANDUVA                    223   408   728   1137     600     622    1727
ARTUR ALVIM                   269   543  1009   1527     844     853    2299
...                           ...   ...   ...    ...     ...     ...     ...
VILA MARIANA                   30    65   129    188     112     135     456
VILA MATILDE                  155   379   654    966     541     557    1598
VILA MEDEIROS                 394   800  1525   2084    1167    1088    3001
VILA PRUDENTE                 193   378   605    927     581     538    1511
VILA SONIA                    185   444   845   1191     645     640    1660


faixa_etÃ¡ria      26 a 29 30 a 40 41 a 55 56 a 59 60 a 64 65 ou mais
DISTRITO
AGUA RASA             476    1239    1573     343     424       1619
ALTO DE PINHEIROS      57     118     207      38      66        237
ANHANGUERA           1500    3949    4291     708     700       1207
ARICANDUVA            813    2277    2682     599     803       2331
ARTUR ALVIM          1123    3194    3663     807     857       2820
...                   ...     ...     ...     ...     ...        ...
VILA MARIANA          282     492     621     141     155        903
VILA MATILDE          758    2088    2409     572     678       2198
VILA MEDEIROS        1621    4408    4411     974    1170       3805
VILA PRUDENTE         743    2093    2301     469     546       1733
VILA SONIA            833    2428    2480     440     430       1528

[96 rows x 13 columns]

In [ ]:
idades = df.pivot_table(values = ['NUM_MEMBRO_FMLA'], index = ['DISTRITO'], columns = ['IDADE'], aggfunc= 'count')
idades_m = df[df.COD_SEXO_PESSOA==1].pivot_table(values = ['NUM_MEMBRO_FMLA'], index = ['DISTRITO'], columns = ['IDADE'], aggfunc= 'count')
idades_f = df[df.COD_SEXO_PESSOA==2].pivot_table(values = ['NUM_MEMBRO_FMLA'], index = ['DISTRITO'], columns = ['IDADE'], aggfunc= 'count')
idades_m.loc['Total']= idades_m.sum()
idades_m['Total']= idades_m.sum(axis=1)
idades_f.loc['Total']= idades_f.sum()
idades_f['Total']= idades_f.sum(axis=1)
idades.loc['Total']= idades.sum()
idades['Total']= idades.sum(axis=1)

display(idades_m)

                  NUM_MEMBRO_FMLA                                      \
IDADE                           0        1        2        3        4
DISTRITO
AGUA RASA                    40.0     70.0    113.0    114.0    115.0
ALTO DE PINHEIROS             NaN      3.0      3.0      5.0     13.0
ANHANGUERA                   97.0    296.0    347.0    422.0    477.0
ARICANDUVA                   58.0    149.0    204.0    257.0    258.0
ARTUR ALVIM                  87.0    179.0    238.0    290.0    318.0
...                           ...      ...      ...      ...      ...
VILA MATILDE                 53.0    122.0    165.0    169.0    205.0
VILA MEDEIROS               140.0    277.0    397.0    491.0    492.0
VILA PRUDENTE                62.0    151.0    176.0    218.0    200.0
VILA SONIA                   61.0    164.0    215.0    248.0    251.0
Total                     11182.0  25447.0  33268.0  40324.0  44021.0

                                                                ...            \
IDADE                    5        6        7        8        9  ...  107  111
DISTRITO                                                        ...
AGUA RASA            126.0    118.0    134.0    134.0    144.0  ...  NaN  NaN
ALTO DE PINHEIROS     11.0     10.0     16.0     10.0      9.0  ...  NaN  NaN
ANHANGUERA           465.0    412.0    443.0    393.0    410.0  ...  NaN  NaN
ARICANDUVA           229.0    274.0    240.0    218.0    224.0  ...  NaN  NaN
ARTUR ALVIM          331.0    333.0    329.0    317.0    305.0  ...  NaN  NaN
...                    ...      ...      ...      ...      ...  ...  ...  ...
VILA MATILDE         230.0    249.0    231.0    218.0    200.0  ...  NaN  NaN
VILA MEDEIROS        481.0    493.0    511.0    447.0    423.0  ...  NaN  NaN
VILA PRUDENTE        221.0    204.0    223.0    202.0    200.0  ...  NaN  NaN
VILA SONIA           253.0    282.0    260.0    246.0    207.0  ...  NaN  NaN
Total              43653.0  43559.0  42327.0  39739.0  38640.0  ...  1.0  2.0

                                                          Total
IDADE              112  113  114  122  140  142  168
DISTRITO
AGUA RASA          NaN  NaN  NaN  NaN  NaN  NaN  NaN     6306.0
ALTO DE PINHEIROS  NaN  NaN  NaN  NaN  NaN  NaN  NaN      624.0
ANHANGUERA         NaN  NaN  NaN  NaN  NaN  NaN  NaN    14934.0
ARICANDUVA         NaN  NaN  NaN  NaN  NaN  NaN  NaN    10250.0
ARTUR ALVIM        NaN  NaN  NaN  NaN  NaN  NaN  NaN    13455.0
...                ...  ...  ...  ...  ...  ...  ...        ...
VILA MATILDE       NaN  NaN  NaN  NaN  NaN  NaN  NaN     9304.0
VILA MEDEIROS      NaN  NaN  NaN  NaN  NaN  NaN  NaN    17695.0
VILA PRUDENTE      NaN  NaN  NaN  NaN  NaN  NaN  NaN     8710.0
VILA SONIA         NaN  NaN  NaN  NaN  NaN  NaN  NaN     9100.0
Total              1.0  1.0  1.0  1.0  1.0  1.0  1.0  1552618.0

[97 rows x 117 columns]

Transformar em um arquivo excel

In [ ]:
with pd.ExcelWriter("quantitativos-cadJul2022.xlsx") as writer:
  fx_etaria_raÃ§a.to_excel(writer, sheet_name="Geral por RaÃ§a")
  fx_etaria_raÃ§a_m.to_excel(writer, sheet_name="RaÃ§a - Masc")
  fx_etaria_raÃ§a_f.to_excel(writer, sheet_name="RaÃ§a - Fem")
  fx_etaria_masc.to_excel(writer, sheet_name="EtÃ¡ria Masculino")
  fx_etaria_fem.to_excel(writer, sheet_name="EtÃ¡ria femininino")

Quantitativo de Idades e Sexo

In [ ]:
with pd.ExcelWriter("quantitativo_idades_cadJul2022.xlsx") as writer:
  idades.to_excel(writer, sheet_name="Idades Geral")
  idades_m.to_excel(writer, sheet_name="Idades Masculino")
  idades_f.to_excel(writer, sheet_name="Idades Feminino")

Quantitativo Faixa de Renda e Sexo

In [ ]:
with pd.ExcelWriter("quantitativo_fx-renda_sexo_cadJul2022.xlsx") as writer:
  raÃ§a_fx_renda.to_excel(writer, sheet_name="Renda e RaÃ§a")
  fem_raÃ§a_fx_renda.to_excel(writer, sheet_name="Mulheres Renda e RaÃ§a")
  masc_raÃ§a_fx_renda.to_excel(writer, sheet_name="Homens Renda e RaÃ§a")